svg {
  width: 100%;
  height: 100%;
}

.div {
  position: relative;
  width: 95vw;
  height: 65vh;
  border: 1px solid coral;
}

.figure {
  position: absolute;
  visibility: hidden;
}

.svg-icon {
  width: 15vw;
  height: 40vh;
}

.visible {
  visibility: visible;
}